$backgroundColor : #F4F4F4;

$greyText : #989898;

$primaryColor : #FFB900;

$backgroundGradent : linear-gradient(132deg, rgba(255,185,0,1) 0%, rgba(255,186,3,1) 31%, rgba(255,211,62,1) 68%, rgba(255,224,92,1) 100%);