.contact{
    &-wrapper{
        margin-bottom: 5rem;
        min-height: 80vh;

        &::after{ 
            display: table;
            content: "";
            clear: both;
            
        }
    }
    &-heading{
        text-align: center;
        color: $primaryColor;
        font-size: 4rem;
    }

    &-left{
        width: 50%;
        float: left;

        & button{
            background-color: $primaryColor;
            color: #fff;
            text-align: center;
            outline: none;
            border: none;
            padding: 2rem 4em;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    &-right{
        width: 50%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg{
            width: 100%;
            height: 100%;
        }
    }

    &-field{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        font-family: 'Raleway', sans-serif;
        & label{
            font-weight: 300;
            font-size: 2rem;

            & span{
                color: #ff0000;
            }
        }

        & input,& textarea{
            width: 80%;
            height: 5rem;
            border-radius: 5px;  
            border: 2px solid $primaryColor;
            outline: none;
            font-size: 3rem;
            padding: 1rem;
            color: $greyText;
            &:focus{
               // border: 4px solid $primaryColor;
               color: #fff;
                background-color: $transparentBackground;
            }
        }

        & textarea{
            height: auto;
        }
    }
}


//*--------------------------------------------RESPONSIVE-----------------------------------------

@media only screen and(max-width : 950px){

    .contact{
        &-wrapper{
            &>div:last-child{
                min-height: 80vh;
            display: flex;
            flex-direction: column-reverse;
            align-items:center ;
            justify-content: space-evenly;
           }
        }
        &-left{
            float: none;
            margin: 5rem auto;
            width: 90%;
            & input,& textarea{
                width: 100%;
                height: 7rem;
            }

            & textarea{
                height: auto;
            }
        }
       &-right{
           width: 80%;
        }

    
    }

}

//*--------------------------------------------RESPONSIVE-----------------------------------------