@font-face {
    font-family: 'PhosphatePro-Inline';
    font-weight: normal;
    src: url('/fonts/PhosphatePro-Inline.otf') format("opentype");
}

//font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap');

//font-family: 'Righteous', cursive;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

//font-family: 'Odibee Sans', cursive;
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

//font-family: 'Passion One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

//font-family: 'Satisfy', cursive;
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');