.quote{
    padding-top: 10rem;
    width: 100%;
    height: 55rem;
    background: $backgroundGradent;
    clip-path: polygon(0% 100%, 100% 75%, 100% 0%, 0% 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    &-wrapper{
        display: flex;
    align-items: flex-start;
    justify-content: center;

    }
    &-text{
        font-size: 5.9rem;
        width: 40%;
    }
    &-quote{
        margin-top: -10rem;
        font-size: 30rem;
        font-family: 'Passion One', cursive;
    }

    &-author{
        font-size: 4rem;
        font-family: 'Satisfy', cursive;
    }
}