.ecommerce {
  background: $backgroundGradent;

  &-wrapper {
    @include clearfix();
    padding: 10rem 0;
    & > div {
      color: #fff;
    }
  }

  &-left {
    width: 35%;
    float: left;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & > div:not(:first-child) {
      margin-top: 5rem;
    }
    &-info {
      font-size: 2rem;
    }

    &-title {
      font-size: 4.5rem;
    }
    &-desc {
      font-size: 2.5rem;
      font-family: "Raleway", sans-serif;
    }
  }
  &-right {
    width: 65%;
    float: right;
    height: 60rem;

    position: relative;
    & > div {
      width: 80rem;
      height: 40rem;
      background-color: #fff;
      border-radius: 15px;
      position: absolute;
      top: 0%;
      left: 30%;
      transform: translate(-25%, 0%);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 15px;
      }
    }
    &-pic2 {
      transform: translate(0%, 40%) !important;
    }
  }
}


//*-----------------------------------RESPONSIVE--------------------------------

@media only screen and (max-width:1320px){
  .ecommerce{
    &-wrapper{
      padding: 10rem 5rem;
    }
  }
}
@media only screen and (max-width:1060px){
  .ecommerce{
   &-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
   }
   &-left,&-right{
     float: none;
     width: 100%;
    
   }

   &-left{
    width: 70%;
    margin: auto;
    &-info {
      font-size: 3rem;
    }

    &-title {
      font-size: 7.5rem;
    }
    &-desc {
      font-size: 5.5rem;
    }
   }
  }
}

@media only screen and(max-width:610px){
  .ecommerce{
    
    &-left{
      width: 80%;
    }

    &-right{
      &>div{
        width: 70rem;
      height: 35rem;
      }
    }
  }
}
@media only screen and(max-width:545px){
  .ecommerce{
    

    &-right{
      height: 50rem;
      &>div{
        width: 60rem;
      height: 30rem;
      }
    }
  }
}
@media only screen and(max-width:435px){
  .ecommerce{
    
    &-left{
      &-title{
        font-size: 7rem;
      }
    }

    &-right{
      &>div{
        width: 52rem;
      height: 35rem;
      }
    }
  }
}

//*-----------------------------------RESPONSIVE--------------------------------